%footer.container-fluid
  .row
    .col-xs-4
      %ul.nav.text-center
        %li= link_to "About", pages_about_path
        %li= link_to "Contact", pages_contact_path
    .col-xs-4
      %ul.nav.text-center
    .col-xs-4
      %ul.nav.text-center